<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="model.MemberDAO">

	<!-- select문은 select, insert문은 insert
		똑같은 이름의 태그 사용 
		
		id : DAO와의 연결 매개체
		parameterType : 매개변수 데이터 타입을 명시
		#{필드명} : 바인드변수
	-->
	
	<!-- 
	select를 할 때, resultType을 통해서 원하는 VO 또는 List객체로 묶어줄 수 있다.
	여러개의 데이터를 DB에서 가져올 때, resultType은 한 개로 가져올 때랑 같음
	-->
	
	<insert id="JoinService" parameterType="model.MemberVO">
		insert into tbl_member values(#{m_id},#{m_pw},#{m_name},#{m_addr},#{m_phone},#{m_gender},#{m_nick},sysdate,'n')
	</insert>
	
	<select id="LoginService" parameterType="model.MemberVO" resultType="model.MemberVO">
		select * from tbl_member where m_id = #{m_id} and m_pw = #{m_pw}
	</select>
	
	<update id="UpdateService" parameterType="model.MemberVO">
		update tbl_member set m_nick = #{m_nick}, m_phone = #{m_phone}, m_addr = #{m_addr} where m_id = #{m_id}
	</update>
	
	<update id="PwUp" parameterType="model.MemberVO">
		update tbl_member set m_pw = #{m_pw} where m_id = #{m_id}
	</update>
	
	<delete id="DeleteService">
		delete from tbl_member where m_id = #{m_id}
	</delete>
	
	<insert id="writeBoard" parameterType="model.BoardVO">
		insert into tbl_community values(tbl_community_seq.nextval, #{article_subject}, #{article_content}, sysdate, #{article_file1}, #{article_file2}, '0', #{m_id})
	</insert>
	
	<select id="selectBoard" resultType="model.BoardVO">
		select * from tbl_community order by article_date desc
	</select>
	
	<select id="viewBoard" resultType="model.BoardVO">
		select * from tbl_community where article_seq=#{article_seq}
	</select>
	
	<!-- //////////////////////////////////////////////////////////////////// -->
	
	<!-- 댓글 mapper -->
	 <insert id="commentService" parameterType="model.CommentVO">
			insert into tbl_comment values(tbl_comment_seq.nextval, #{article_seq}, #{comm_content}, sysdate, #{m_id})
	</insert> 
	
	<select id="viewComment" resultType="model.CommentVO">
		select * from tbl_comment where article_seq = #{article_seq}
	</select>
	
	<select id="IdCheck" resultType="model.MemberVO">
		select * from tbl_member where m_id=#{m_id}
	</select>
	
	<insert id="writePerfume" parameterType="model.PerfumeVO">
		insert into tbl_user_perfume values(tbl_user_perfume_seq.nextval, #{up_title}, #{up_content}, sysdate, 1, #{up_file})
	</insert>
	
	<!-- 향수 원료 -->
	<insert id="IngredientWrite" parameterType="model.IngredientVO">
		insert into tbl_perfume values(tbl_perfume_seq.nextval, #{p_type}, #{p_name}, #{p_specialty}, #{p_file}, sysdate, #{m_id})
	</insert>
	
	<select id="selectIngredient" resultType="model.IngredientVO">
		select * from tbl_perfume order by p_date desc
	</select>
	
	<select id="viewIngredient" resultType="model.IngredientVO">
		select * from tbl_perfume where p_seq=#{p_seq}
	</select>
	
	<delete id="DeleteIngredient">
		delete from tbl_perfume where p_name = #{p_name}
	</delete>
	
	<!-- 나의 배합 -->
	<select id="myPerfumes" resultType="model.PerfumeVO">
		select * from tbl_user_perfume order by up_date desc
	</select>
</mapper>